#title {
    font-family: 'Arial', sans-serif;
  }
  
  #names {
    font-family: 'Roboto', sans-serif;
  }
  #images{
    background-image: url('src/assets/bg3.jpg');
    background-repeat: no-repeat;
    background-position: 0px -500px;
    margin: 30px;
    border-radius : 30px;
  
  }

  #forgot
  {
     
        position: relative;
        left: 93px;
      
    
  }

  