#title {
    font-family: 'Arial', sans-serif;
  }
  
  #names {
    font-family: 'Roboto', sans-serif;
  }
  #images{
    background-image: url('https://i.pinimg.com/736x/39/8e/e9/398ee9d588c742aeea3d1356bf25a894.jpg');
    background-repeat: no-repeat;
    border-radius : 30px;
  
  }

  #forgot
  {
     
        position: relative;
        left: 93px;
      
    
  }

  