
  
   .logo{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 70px;
   }
   #signup{
    background-image: url('https://i.pinimg.com/736x/39/8e/e9/398ee9d588c742aeea3d1356bf25a894.jpg');
    /* background-size:cover;  */
    background-repeat: no-repeat;
    background-position: 0px -500px;
    margin: 30px;
    border-radius : 30px;
  
  }
  #button{
    background-color:#239852
  }



